<% @page_title = 'Add a Hack' %>

<style>
  .instructions {
    color: white;
    font-size: 15pt;
    text-shadow: 1px 1px black;
    margin-left: 15px;
    margin-top: 15px;
  }
</style>

<div class=instructions>1) Give your hack a pat on the back</div>
<div class=instructions>2) Enter the project details and teammates below.</div>

<%= render 'form' %>
