
<style>
#page {
	background: url('/images/splash_background.png') no-repeat;
}

#browse {
	margin-top:160px;
}

#facebook {
	margin-top:20px;
}
</style>

<div id="browse">
<a href="?browser=true">
	<img src="/images/splash_browse_button.png" /></a>
	</div>
	<div id="facebook">
	<a href="/users/auth/facebook">
		<img src="/images/splash_facebook_button.png" /></a>
		</div>