
<style>
#page {
	background: url('/images/splash_background.png') no-repeat;
}

#browse {
	margin-top:180px;
  color: white;
  font-family: Garamond, "Times New Roman", serif !important;
  text-shadow: 1px 1px black;
  font-size: 20pt;
  text-align: center;
}

#facebook {
	margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  width: 344px;
}

.ui-footer {
  display: none;
}
</style>

<div id="browse">
  <h1>Aloha.</h1>
  <h1>Browse & Share Hacks</h1>
</div>

<div id="facebook">
  <a href="/users/auth/facebook">
    <img src="/images/splash_facebook_button.png" />
  </a>
</div>
