<%= link_to raw("<div class=\"shakacounter\">" + hack.votes.to_s + "</div>"), {:controller=>"votes", :action => 'create', :vote=>{:hack_id => hack}}, :method => :post, :remote=>true, :class => "shakacounter-link" %>
